img.fb-logo  {
    width: auto !important;
    height: 46px;
}

.datatable-thead-thumbnail {
    width: 120px !important;
}

#notification {
    min-height: 36px;
    font-weight: bold;
}

.search-input {
    border: 0.5px solid #cce5ff;
}

.success-notification {
    color: #28a745;
}

.failed-notification {
    color: #ff0000;
}

table .fb-link {
    color: dodgerblue !important;
}

table tbody tr td .fb-link b {
    background: yellow;
}

table tbody tr td .page-description b {
    color: red;
    background: yellow;
    font-style: oblique;
}

#result-table_filter {
    display: none !important;
}

.alert {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
}